.NavBar {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10%;
    margin-bottom: 0;
}

.Name {
    font-size: 65px;
    color: deepskyblue;
    margin-top: 0;
    margin-bottom: -17px;
}

.Title {
    font-size: 30px;
    color: lightgrey;
    margin-top: 0;
    margin-bottom: 0;
}

.flex-container.logo-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    margin-bottom: 2%;
}

.flex-container.nav-buttons {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.flex-container.nav-button {
    width: 126px;
    padding: 9.5px 10px;
    cursor: default;
}

.Nav-button {
    background-color: white;
    border: none;
    color: grey;
    padding: 0px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.Nav-button:hover {
    text-decoration: underline;
    color: black;
}

.Logo-button-1 {
    width: 36px;
    height: 36px;
    font-size: 20px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border: none;
    display: inline-block;
    background-color: white;
    cursor: pointer;
}

.Logo-button-2 {
    width: 36px;
    height: 36px;
    font-size: 20px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border: none;
    display: inline-block;
    background-color: white;
    cursor: pointer;
}

.fa-linkedin {
    margin: 0px;
    color:lightgrey;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.fa-github {
    margin: 0px;
    color: lightgrey;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.Logo-button-1:hover .fa-linkedin{
    color: #0077b2;
}

.Logo-button-2:hover .fa-github{
    color: #211F1F;
}
